.App {
    text-align: center;
    margin-top: 100px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    display: inline-block;
  }
  
  .list-item {
    background-color: lightblue;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
  }
  
  .list-item.dragging {
    transform: scale(1.05);
  }
  